<div id="presentation" ng-click="kaka()"></div>

<div id="modelexplorer-help" class="fill" style="color:#6d6d6d;text-align:center;font-size:16px;padding:80px">
	
	<img src="/resources/shared/imgs/info-64px.png"/><br/><br/>
	Click on target to load a data into model explorer
	
</div>

<div id="modelexplorer-description" style="font-weight:bold;font-size:16px;display:none;padding:5px;background-color:#f7f7f7;width:100%;border-bottom-style:solid;border-width:1px;border-color:#cecece;">

</div>

<div id="modelexplorer-limit" style="display:none;font-size:16px;padding:5px;background-color:#f7f7f7;width:100%;border-bottom-style:solid;border-width:1px;border-color:#cecece;">
	Limit : 
    <div class="btn-group">
        <button type="button" class="active btn btn-default" value="10" id="regi1">10</button>
        <button type="button" class="btn btn-default" value="100" id="regi2">100</button>
        <button type="button" class="btn btn-default" value="1000" id="regi3">1`000</button>
        <button type="button" class="btn btn-default" value="10000" id="regi4">10`000</button>
        <button type="button" class="btn btn-default" value="100000" id="regi5">100`000</button>
        <button type="button" class="btn btn-default" value="0" id="regi6">Unlimited</button>
    </div>
	    
	<script type="text/javascript">
		
		var limit = 10;
		
		$(".btn-group > .btn").click(function(){
			$(".btn-group > .btn").removeClass("active");
			limit = $(this).attr("value");
			$(this).addClass("active");
		});		
		
	</script>
	
</div>

<table class="table" id="modelexplorer-gui" style="display:none;">
	<tbody>
		<tr>
			<td style="width:45%;padding-right:15px;">
				<ul class="list-unstyled dimensions-list">
					<li ng-repeat="table in tables | toArray">
						<div data-toggle="collapse" data-target="#{{ table.section }}" style="cursor:pointer;font-size:15px;background-color:#b5d8ff;width:100%;padding:5px;border-bottom-style:solid;border-color:#c1c1c1;border-width:1px;">
							<img src="/vendor/proprietary/dhtmlx/codebase/imgs/dhxgrid_material/tree/folder.gif"/>&nbsp;{{ table.title }}
						</div>
						<div draggable>
							<ul class="list-unstyled dimensions-list collapse" id="{{ table.section }}">
								<li class="dimension aggregate-{{dimension.aggregate}}" data-dimension="{{dimension}}" ng-repeat="dimension in table.columns track by $index">
									<span class="dimension-key">{{dimension.title}}</span>
									<span class="dimension-type">{{dimension.type}}</span>
									<span class="dimension-icon pull-right"><i class="fa fa-bars"></i></span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</td>
			<td style="width:55%;">
			
				<div class="sticky" style="position:fixed;width:50%;padding-right:10px;">
					<div 
					class="row"
					group every="3"
					watch="model">
						
						<div
						class="col-lg-14 col-md-14 dimensions-wrapper" 
						ng-repeat="dimension in model.dimensions().values() track by $index" ng-init="open=false">
							
							<div class="dimensions-model">
								
								<i class="fa fa-asterisk dimension-required"
								data-toggle="tooltip"
								data-title="Required"
								data-ng-show="dimension.required()"></i>
								
								<p class="dimension-title">{{dimension.title()}}</p>
									<ul 
									sortable
									title="dimension.title()"
									value="dimension.value"
									aggregations="dimension.aggregations()"
									aggregate="dimension.aggregate()"
									ordering="dimension.ordering()"
									multiple="dimension.multiple()"
									types="dimension.types()"
									class="dimensions-container list-unstyled">
								</ul>
								
							</div>
						</div>
					</div>
				</div>
				
			</td>
		</tr>
	</tbody>
</table>
