.tooltip_templates { display: none; }

.dhx_cell_wins {
	
	left:0px !important;
	top:0px !important;
	
}

.select2-result-sub > li.select2-result {
    display: none;
}

body {
	
	/* overflow-y:hidden !important; */
	/* display:none; */
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	height: 100%;
	margin: 0;
	/* background: url('/resources/shared/imgs/bg-login.png') repeat #1b1b1b; */
	background-color: #282c36;
	
}		

.dhxtoolbar_text {
	
	cursor : pointer !important;
	
}

.rule-container {
	background-color:#E4F1F5 !important;
	vertical-align:middle;
}	

label.btn.btn-xs.btn-primary {
	background-color:#aab9c5 !important;	
}

label.btn.btn-xs.btn-primary.active {
	background-color:#286090 !important;	
}

.btn-success {
	
	background-color: #DAF5DD !important;
	color: #969696 !important;
	border-color: #DBDBDB !important;
}

.btn-success:hover {
	
	background-color: #5cb85c !important;
	color: white !important;
	border-color: #4cae4c !important;
}

.btn-danger {
	
	background-color: #FFE8E8 !important;
	color: #969696 !important;
	border-color: #DBDBDB !important;
}

.btn-danger:hover {
	
	background-color: #c9302c !important;
	color: white !important;
	border-color: #ac2925 !important;
	
}

.rule-filter-container {
	
	margin:2px 5px 2px 0 !important;
	
}

.rule-operator-container {

	margin:2px 5px 2px 0 !important;	
	
}

.rule-value-container {
	
	padding-left:0px !important;
	margin:2px 5px 2px 0 !important;
	border-left:0px solid #DDD !important;	
}

.rule-value-container input[type=text] {
	
	padding-left:10px !important;

}

.rule-value-container input[type=number] {
	
	padding-left:10px !important;

}

.dhxlayout_cont {
	
	/* 
	TODO : Remove this block if you are sure that it is not necessary anywhere
	top:40px  !important; 
	*/
	
}

.dhxcelltop_toolbar {

	margin-top:4px !important;
	
}


.fill { 
    min-height: 100%;
    height: 100%;
}

.dhxwins_vp_material div.dhxwin_brd {
	
	border-style: none !important;
	border-color: black !important;
	border-width: 0px !important;
	background-color:transparent !important;

}

.dhxwins_vp_material div.dhxwin_active {
	
	background-color:transparent !important;
	
}

.dhxwins_vp_material div.dhxwin_inactive {
	
	background-color:transparent !important;
	
}

.grid-stack {
	
	margin-bottom:90px;
	
}

.select2-choices {

	padding-top:4px !important;
	
}