.grid-stack-item-content {
    background: white;
    color: #2c3e50;
    font-family: 'Arial';
    text-align: center;
    font-size: 20px;
}

.grid-stack-item-content .fa {
    font-size: 64px;
    display: block;
    margin: 20px 0 10px;
}

header a, header a:hover { color: #fff; }

.darklue { background: #2c3e50; color: #fff; }
.darklue hr.star-light::after {
    background-color: #2c3e50;
}

.grid-stack > .grid-stack-item > .ui-resizable-e {
	right: 0px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-w {
	left: 0px !important;	
}

.grid-stack > .grid-stack-item > .ui-resizable-se {
	right: 2px !important;
}

.grid-stack > .grid-stack-item > .ui-resizable-sw {
	left: 2px !important;
}

.grid-stack-item-content, .placeholder-content{
	left: 1px !important;
	right: 1px !important;
}

