html,
body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}



section {
	
	padding:0 !important;
	
}

section.dark {
	
	background-color:transparent !important;
	
}

.dimensions-wrapper {
	
	margin-bottom:10px !important;
	
}

.dimension .ng-scope .ui-draggable .invalid {
	
	color: red !important;
	background-color: red !important;
}

.dimension-type {
	
	color: #7a7a7a !important;
	padding-right:5px;
	
}

.dimension {
	
	color: #4f4f4f !important;
	background-color: #fffce5 !important;
	
}

.aggregate-0 {
	
	color: #4f4f4f !important;
	background-color: #fffce5 !important;
	
}

.aggregate-1 {
	
	color: #4f4f4f !important;
	background-color: #e3ffd1 !important;
	
}

.dimension.invalid{
	
	color: #4f4f4f !important;
	background-color: #ffd0c6 !important;
}

h2 {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin-top: 0px;
}

h2 a {
  border-bottom: 1px dotted;
}

h3 {
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 48px;
  margin: 0px;
  font-size: 21px;
  margin-bottom: 30px;
  font-family: 'Karla', sans-serif;
}

a {
  color: #888;
  cursor: pointer;
}

a:hover {
  color: #444;
  text-decoration: none;
}

.stronga a {
  font-weight: 600;
}
.stronga a:hover {
  text-decoration: underline;
}

h3 a {
  font-size: 15px;
  text-transform: none;
  letter-spacing: normal;
}

h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 6px;
  padding-bottom: 6px;
}

.light {
  font-weight: 400;
}

.breath-right {
  margin-right: 8px;
}

.breath-left {
  margin-left: 8px;
}

.breath-both {
  margin-left: 8px;
  margin-right: 8px;
}

/* Header and footer */

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -215px;
  padding-bottom: 215px;

}

#push,
#footer {
  height: 215px;
}

#footer {
  background-color: #565656;
  font-size: 14px;
  color: #bbb;
  font-weight: 400;
  padding: 0px 20px;
}

#footer a {
  color: #bbb;
  text-decoration: none;
}

#footer a:hover {
  color: #eee;
}

#footer p {
  margin: 0 0 2px;
}

#footer .container {
  padding: 30px;
}

@media (max-width: 767px) {
  #footer, #header {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
}

section {
  padding: 40px 0px;
}

section.light {
  background-color: #fff;
}

section.dark {
  background-color: #ECECEC;
}


/* Navbar */

.navbar {
  color: #E5E5E5;
  text-align: center;
  opacity: .97;
  z-index: 10000;
  border-radius: 0px;
  padding: 20px 0px;
  margin-bottom: 30px;
  background-color: #fff;
}

.navbar-brand {
  color: #222;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}


.navbar-brand small {
  font-weight: 400;
  font-size: 14px;
}

.navbar .nav>li>a {
  font-size: 17px;
  font-weight: 400;
  color: #0dc4a3;

  -webkit-transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -ms-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.navbar .nav>li>a,
.navbar-brand,
.option-title,
.dimension-title {

}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  background-color: transparent;
  color: #000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}

.navbar-toggle .icon-bar {
  background-color: #444;
}

/* Alerts */

.alert {
  border: none;
  font-weight: 400;
  padding: 10px 12px;
  background-color: transparent;
  color: #5A5E5A;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

}

.alert-success {
  background-color: #0dc4a3;
  color:#fff;
}

.alert-warning {
  color: #444;
  background-color: #FFE666;
}

/* Inputs */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding: 6px;
  font-weight: 400;
}


.btn:focus,
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #bbb;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline: none;
}

.btn:focus,
.btn:hover {
  border: none;
  background-color: #e5e5e5;
}

.form-control {
  font-size: 14px;
}

.btn.choose {
  font-weight: 300;
  letter-spacing: -0.01em;
  margin: 0px;
  font-size: 21px;
  font-family: 'Karla', sans-serif;
  background-color: transparent;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  line-height: 2px !important;
  padding: 10px 0px;
  color: #888;
}

.btn.choose:focus,
.btn.choose:hover {
  border-radius: 0px;
  color: #444;
}

.btn.choose .caret {
  margin-left: 5px;
}


/* Tooltips */

.tooltip-inner {
  font-weight: 400;
  padding: 10px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn {
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active,
.btn-success {
  background-color: #0dc4a3;
}

.btn-success.disabled {
  opacity: .2;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #0dc4a3;
}

.btn .caret {
  margin-left: 20px;
}

.dropdown-menu {
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);


}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: #0dc4a3;
}

.dropdown-menu>li>a {
  font-size: 14px;
  font-weight: 400;
}

#export .btn {
  margin: 10px 0px;
}

#export .btn:first-child {
  margin-top: 0px;
}

/* Charts */

.chart-description {
  font-size: 14px;
}

.chart-description h4{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1px;
  font-family: 'Karla', sans-serif;
}

.chart-description p{
  margin-top: 9px;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
}

.chart-description hr{
  background-color: #3F403F;
  height: 1px;
  width: 20px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 18px;
}

.chart-description a {
  font-weight: 500;
}

.chart-description a:hover {

}


/* Dimensions */

.dimensions-container {
  padding: 0px;
  min-height: 55px;
  margin-bottom: 0px;
}


.dimensions-wrapper {
  margin-bottom: 20px;
}

.dimensions-model {
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  padding: 10px;
  overflow: hidden;

  margin-bottom: 5px;  

  -webkit-transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  -ms-transition: border .15s ease-in-out;
  -o-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;

}

.dimensions-model.invalid {
  border-color: #f00;
}

.dimension-placeholder,
.dimension {
  padding: 8px 10px;
  position: relative;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: .85;

  -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;

}

.dimension-key {
  margin-right: 3px;
}

.layout {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  height: 120px;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
        box-shadow: 0px 1px 1px rgba(0,0,0,.1);

}

.layout.selected {
  background-color: #14E2B9;
}

.layout-title {
  font-family: 'Karla', sans-serif; 
  color: #000;
  font-size: 18px;
  font-weight: 400;
}


.layout-thumb {
  background-position: center;
  background-size: 180%;
  background-color: #fff;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.layout.selected .layout-thumb,
.layout:hover .layout-thumb {
  opacity: .15;
      -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;

}

.layout.selected .layout-title{

}

.layout-inner {
  opacity: 0;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
        border-radius: 2px;

  text-align: center;
  margin: 0px;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;

  
}

.layout.selected .layout-inner,
.layout:hover .layout-inner {
  opacity: 1;

    -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;

}

.layout.yours {
  background-color: transparent;
  border: 2px dashed #ddd;

  -webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}

.layout.yours .layout-thumb {
  background-color: transparent;
  text-align: center;
  font-size: 60px;
  line-height: 118px;
  opacity: .1;
  height: 76px;
}

.layout.yours:hover .layout-thumb {
}

.dimension-placeholder,
.dimension {
  cursor: move;
  color: #ffffff;
  background-color: #0dc4a3;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.layout:hover,
.ui-draggable-dragging,
.dimension:hover {
  opacity: 1;
}

.dimension-multiple {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #bbbbbb;
}

.dimension-required {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #0dc4a3;
}

.dimension-type {
  color: rgba(255,255,255,.6);
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
}

.dimension-type-valid {
  font-size: 9px;
  color: #999;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
}

.dimension-title {
  text-align: center;
  padding-bottom: 5px;
  margin: 10px 0px 5px 0px;
  color: #000;
  font-size: 18px;
  font-weight: 400;

}

.remove {
  position: absolute;
  font-size: 16px;
  font-weight: 200;
  top: 8px;
  right: 10px;
  cursor: pointer;
}

.drop {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ddd;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  margin-bottom: 3px;

  display: block;
  width: 100%;
  border-top: 1px solid rgba(100,100,100,.1);

}

.dimension.invalid {
  background-color: #F8E937;
  color: #000;
}

.dimension.invalid .dimension-type {
  color: rgba(0,0,0,.6)
}

.dimension-placeholder {
  opacity: .5;
}

.dimension-info {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: #bbbbbb;
}

.dimension-icon {
  opacity: .5;
}

.dimension-description {
  position: absolute;
  left: 0;
  padding: 10px;
  background: #ffffff;
  height: 100%;
  width: 100%;
  top: 37px;
  bottom: 0;
  opacity: 0;
  font-size: 14px;
  font-weight: 400;

  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);

  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;

}

.dimension-description.open {
  opacity: .95;
  z-index: 1005;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.msg {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.option-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 8px 0px;
  padding: 10px 0px;
  padding-bottom: 0px;
  color: #444;
}

/*.sticky {
-webkit-transition: top 0.3s;
-moz-transition: top 0.3s;
transition: top 0.3s;
}*/

/* Colors */

div[colors] {
}

div[colors] .colors-table {
  max-height: 230px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: scroll;
  margin-top: 10px;
  position: relative;
}

div[colors] .sample-color {
  font-size: 11px;
  margin: 0px;
  width: 60px;
  padding: 2px 4px;
  float: right;
  background: transparent;
  outline: 0px;
  height: auto;
  border: none;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
}

div[colors] .sample-color:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0px auto -webkit-focus-ring-color !important;
}


div[colors] table{
  margin-bottom: 0px;
}

div[colors] table td {
  padding: 5px 8px;
  background: #FAFAFa;
  border: none;
}

div[colors] .table-striped>tbody>tr:nth-child(odd)>td,
div[colors] .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #FFFFFF;
}

div[colors] table tr:first-child td {
  border-top: none;
}

.colorpicker {
  min-width: 128px;
}

.colorpicker .dropdown-menu {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.colorpicker .close {
  display: none;
}

.colorpicker .dropdown-menu::before {
  display: none;
}

.colorpicker:before,
.colorpicker:after {
  display: none;
}

.sample {
  max-width: 110px;
}

div[colors] input[type="text"] {
  font-weight: 400;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
}

.search-clear {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 10000;
  cursor: pointer;
  opacity: .5;
  color: #999;
}

.search-clear:hover {
  opacity: 1;
}

.sample-name {
  line-height: 15px;
  margin: 0px;
}

.sample-text {
  outline: none;
}

#chart {
  padding: 10px;
  background: #fff;

}

.chart-resize {
  padding: 0px;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

textarea.source-area {
  width: 100%;
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  color: #999999;
  padding: 6px 10px;
  resize: vertical;
  cursor: auto;
  margin-bottom: 10px;

  -webkit-transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  -ms-transition: border .15s ease-in-out;
  -o-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
}

.list-type {
  font-size: 14px;
}

.type {
  color: #999;
  cursor: pointer;
}

.type.selected {
  color: #3F403F;
}

#copy-button {
}

#copy-button.zeroclipboard-is-hover,
#copy-button.zeroclipboard-is-active {
  color: #333;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* Table */

.data-table {
  font-size: 11px;
  font-weight: 400;
  height: 275px;
  overflow: scroll;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 2px;
  font-family: Menlo, Monaco, Courier, monospace;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
     -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
          box-shadow: 0px 1px 1px rgba(0,0,0,.1);

}

.data-table thead th {
  cursor: pointer;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: none;
}

.data-table table {
  margin-bottom: 0px;
}

.table>thead>tr>th {

}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #FAfAfA;
}


/* CodeMirror */

.CodeMirror {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  background-color: #ffffff;
  line-height: 18px;
  border-radius: 2px;
  margin: 10px 0;
  height: 275px;

  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
     -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
          box-shadow: 0px 1px 1px rgba(0,0,0,.1);

}

.CodeMirror-activeline {
  color: #333;
}

.CodeMirror-activeline-background {
  background: rgba(68, 204, 164, 0.18) !important;
}

pre.CodeMirror-placeholder {
  color: #999;
}

.CodeMirror.highlight {
  opacity: .5;
}

.CodeMirror-gutters {
  height: 100%;
  border: none;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.CodeMirror-linenumber {
  color: #bbb;
}

.CodeMirror-focused {

}

.CodeMirror-code div:first-child pre{
  font-weight: bold;
}

.CodeMirror .line-error .CodeMirror-linenumber {
  color: #f00;
}

.CodeMirror .line-error {
  background-color: #FFF3B8;
  color: #3F403F;
}

.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
   opacity: .3;
}
