body {
	
	height: 100%;
	margin: 0;
	overflow: hidden;
 	overflow-x:hidden; -webkit-animation:androidbugfix infinite 1s;
 	overflow-y:hidden !important;
}

.webix_toolbar {
	
	background-color:#ebebeb !important;
	color:black;
	
}

.webix_toolbar {
	
	border-style:none !important;
	
}


.webix_el_toggle button{
	background-color:gray !important;
    border-color: gray !important;
}

.webix_el_toggle.webix_pressed button{
	background-color:green !important;
    border-color: green !important;	
}

.webix_inp_label  {
	
	color:gray !important;
	
}




.fill { 
    min-height: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
    overflow: auto;
	padding:52px 0 0px 0;
}

.dhxwins_vp_material div.dhxwin_brd {
	
	border-style: solid !important;
	border-color: transparent !important;
	border-width: 1px !important;
	background-color:transparent !important;

}

.dhxwins_vp_material div.dhxwin_active {
	
	background-color:#DBDBDB !important;
	
}

.dhxwins_vp_material div.dhxwin_inactive {
	
	background-color:#DBDBDB !important;
	
}


.dhx_cell_wins {
	
	left:0px !important;
	top:0px !important;
	
}

#menu > ul {
	line-height: 2.62em !important;
}

.node {
	cursor: pointer;
}

.overlay{
	background-color:#EEE;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size:14px; 
	font-family:sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 0.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show{
	display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
	display: none;
}

#footer {
	position : absolute;
	bottom : 0;
	height : 1px;
	background-color:#DBDBDB;
	width:100%;
}

div.jqDockAuto {z-index:10;position:fixed; bottom:0; left:0; width:100%; display:none;}
/*dock styling...*/
/*...centre the dock...*/
div.jqDockWrap {margin:0 auto;}
/*...set the cursor...*/
div.jqDock {cursor:pointer;}
/*label styling...*/
div.jqDockLabel {font-weight:bold; font-style:italic; white-space:nowrap; color:#ffffff; cursor:pointer;  padding:0 1px;}




/* .modal-fullscreen */

.modal-fullscreen {
  background: white;
}
.modal-fullscreen .modal-content {
  background: white;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}





/* Released: 1st April 2014 - Beverley Hooton @ Focus on Function Web Design - http://fofwebdesign.co.uk */
/* Updated: 15th July 2014 - css to correct 'position:fixed' bug in Safari */
/* Updated: 19th March 2015 - css sub-menu activation simplified [id$="-sub"] - thanks SeanW */
/* Updated: 26th June 2015 - &#9668; arrows changed to &#9658; and rotated, for Android */
/* Updated: 17th August 2015 - background added to '#menu li a' to fix intermittent text overlap */
/* Updated: 15th September 2015 - 'go-up' option added for sub-menus on desktop */
html, body { margin:0; padding:0; height:100%; position:relative; background:#222; font:1em/1.75 Verdana, Arial, Helvetica, sans-serif }

@-webkit-keyframes androidbugfix { from {padding:0} to {padding:0} } /* http://timpietrusky.com/advanced-checkbox-hack */
#header { position:relative; top:0; left:0; right:0; height:4.0625em; background:#f8f8f8 }
#header label { padding:0 0.125em; font:2.875em/1.4375em Arial }
#menu label { padding:0 0.25em; font:3.125em/1.375em Arial }
#menu .sub-nav .toggle { padding:0 0.3125em; font:2em/2em Arial; top:0; -webkit-transform:scale(-1,1); -ms-transform:scale(-1,1); transform:scale(-1,1) }
#header label:hover, #menu label:hover { color:#ccc }
#main-nav-check, #menu .sub-nav-check { position:absolute; top:-9999px; left:-9999px }
.toggle { position:absolute; right:0.15em; cursor:pointer; color:#fff }
.container { background:#fff; min-height:100%; padding:0; margin:0 }
#menu, #menu .sub-nav { position:absolute; top:0; bottom:0; width:13.75em; background:#f8f8f8; z-index:9999; left:-13.75em }
.container, #menu, #menu .sub-nav {   
	-webkit-transform:translate(0,0); -ms-transform:translate(0,0); transform:translate(0,0);
	-webkit-transition:-webkit-transform .25s ease; transition:transform .25s ease;
	}
#menu ul { background:#222; line-height:2.75em; text-decoration:none; padding:0; list-style:none; margin-top:4.0625em; border-top:0px solid #444 }
#menu li { border-bottom:1px solid #D6D6D6; }
#menu li a { background:#f8f8f8; display:block; font-size:0.875em; padding-left:1.5em; color:#777777; text-decoration:none }
#menu li a:hover, #menu .toggle-sub:hover { background:#333 }
#menu .sub-nav { margin-top:-1px }
#menu .sub-heading { margin-top:4.0625em; padding-left:1.3125em; color:#999 }
#menu .sub-heading:before { content:""; display:block; height:1px; width:13.75em; margin-left:-1.3125em; background:#444 }
#menu .toggle-sub { font:bold 1em/2.75em Arial; color:#fff; background:#222; float:right; margin-top:-2.75em; width:2.25em; border-left:1px solid #444; cursor:pointer; text-align:center }
.container, #menu, #menu .sub-nav { -webkit-transform:translate3d(0,0,0) } /* http://davidwalsh.name/translate3d */

/* #### - corrects 'unfixing' bug in Safari - uncomment if you have position:fixed elements inside .container - #### */
/* @media screen and (-webkit-min-device-pixel-ratio:0) { .container { -webkit-transform:none !important } } */

/* #### - define ids of animated container, menu and sub-menus here - #### */
#main-nav-check:checked ~ .container,
#main-nav-check:checked ~ #menu,
#menu .sub-nav-check:checked ~ [id$="-sub"] /* matches all elements with id ending "-sub" */ { 
	-webkit-transform:translate(13.75em,0); -ms-transform:translate(13.75em,0); transform:translate(13.75em,0) 
	}


@media ( min-width:60em ) { /* #### - switch to desktop menu at 960px (960/16=60 - 16px being default browser font-size) - #### */

	.container, #menu, #menu .sub-nav { -webkit-transform:translate(0,0) !important; -ms-transform:translate(0,0) !important; transform:translate(0,0) !important }
	#menu label, #menu .sub-nav, #menu .sub-heading, #header label { display:none }
	#menu { left:auto; bottom:auto; height:0; width:100% }
	#menu > ul { float:right; position:relative; z-index:1; right:1em; margin-top:0; display:inline-table; border-left:0px solid #444; border-right:0; font-size:0.875em }
	#menu ul:after { content:""; clear:both; display:block }
	#menu ul li { float:left; position:relative; text-align:left; border-right:1px solid #D6D6D6 }
	#menu ul li a { padding:0.5em 2.5em 0.5em 1.5em }
	#menu ul li a:only-child { padding-right:1.5em }
	#menu ul li a:after { content:"\203A"; position:absolute; right:0.5em; margin-top:-1.5625em; display:block; font:1.5em Arial; -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg) }
	#menu ul li a:only-child:after { content:"" }
	#menu ul li:hover > a { background:#C7C7C7; -webkit-transition:background-color .25s ease; transition:background-color .25s ease }
	#menu ul li:hover > ul { display:block }
	#menu ul ul { position:absolute; left:0; margin-left:-1px }
	#menu ul ul li { float:inherit; width:13.75em; border-left:1px solid #D6D6D6 }
	#menu ul ul li a { padding:0 1.5em }
	#menu ul ul li a:after { right:0.375em; margin-top:-1.6875em; -webkit-transform:none; -ms-transform:none; transform:none }
	#menu ul .sub-nav { top:auto; bottom:auto; left:auto; width:auto; margin-top:0 }	
	#menu ul ul .sub-nav { float:left; top:0; left:13.75em; margin-left:0; margin-top:-1px }
	#menu ul .fly-left ul { left:-13.75em; margin-left:-2px }
	#menu ul .fly-left ul li { float:none }
	#menu ul .fly-left a:after { right:auto; left:0.5em; left:0.375em; margin-top:-1.5625em; -webkit-transform:rotate(-180deg); -ms-transform:rotate(-180deg); transform:rotate(-180deg) }
	#menu ul .go-up > ul { top:auto; bottom:0; margin-bottom:-1px }

}
 

.page-content { padding:0 1em 1em; max-width:64em; margin:auto }
.page-content:after { display:block; content:""; height:1px } /* fixes bottom padding issue in IE10 */
.breadcrumbs { font-size:.75em; border-bottom:7px solid #eee; margin:0 -1.25em 1.5em; padding:1em 1.25em }
.breadcrumbs span { display:none }
@media(min-width:30em) { .breadcrumbs { line-height:3.75; padding:0 1.25em } }
@media(min-width:60em) { .breadcrumbs span { display:inline-block } }
a, a:active, a:visited { color:#c30 }
a:visited { color:#c90 }
a:hover, a:focus { color:#666; text-decoration:none }
code { display:block; background:#ebebeb; font-size:0.875em; padding:1em 2em; overflow-x:scroll; white-space:nowrap }


